#content{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 2vw;
}
body{
    background-color: beige;
    
}
nav{
    animation: example 5s infinite alternate-reverse;
    opacity: 0.9;
    height: 400%;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
.flex-container {
    animation: leftright 10s infinite alternate-reverse;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
.flex-container2 {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
}
img{
    width: 200px;
    height: 100px;
}
a{
    animation: links 1s infinite ;
    animation-direction:alternate;
    text-decoration: none;
    color: dodgerblue;
    font-size: 33px;
}
a:visited{
    text-decoration: none;
    color: dodgerblue;
}
img:hover{
    transform: scale(2);
    
}
#notimportant{
    font-size: smaller;
}
@keyframes links {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
} 

@keyframes example {
    0%   {background-color:indigo ;}
    25%  {background-color: maroon;}
    50%  {background-color: hotpink;}
    100% {background-color: wheat;}
}
@keyframes leftright{
    0% {transform:translateX(0px)}
    5% {transform:translateX(100px)}
    10% {transform:translateX(200px)}
    15% {transform:translateX(300px)}
    20% {transform:translateX(400px)}
    25% {transform:translateX(500px)}
    30% {transform:translateX(400px)}
    35% {transform:translateX(300px)}
    40% {transform:translateX(200px)}
    45% {transform:translateX(100px)}
    50% {transform:translateX(0px)}
    55% {transform:translateX(-100px)}
    60% {transform:translateX(-200px)}
    65% {transform:translateX(-300px)}
    70% {transform:translateX(-400px)}
    75% {transform:translateX(-500px)}
    80% {transform:translateX(-400px)}
    85% {transform:translateX(-300px)}
    90% {transform:translateX(-200px)}
    95% {transform:translateX(-100px)}
    100% {transform:translateX(0px)}
}