#content{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 2vw;
}
body{
    background-color: beige;
    
}
nav{
    animation: example 5s infinite alternate-reverse;
    opacity: 0.9;
    height: 400%;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
.flex-container {
    animation: leftright 10s infinite alternate-reverse;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
.flex-container2 {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
}
img{
    width: 200px;
    height: 100px;
}
a{
    animation: links 1s infinite ;
    animation-direction:alternate;
    text-decoration: none;
    color: dodgerblue;
    font-size: 33px;
}
a:visited{
    text-decoration: none;
    color: dodgerblue;
}
img:hover{
    transform: scale(2);
    
}
#notimportant{
    font-size: smaller;
}
li:hover{
    color:midnightblue;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-decoration: dotted underline;
    background-color:plum;
    background-size: cover;
    background-repeat: no-repeat;
}
p:hover{
    color:midnightblue;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-decoration: dotted underline;
    background-color:plum;
    background-size: cover;
    background-repeat: no-repeat;
}

#elso{
    animation: colors1 2s infinite alternate-reverse;
}
#masodik{
    animation: colors2 2s infinite alternate-reverse;
}
#harmadik{
    animation: colors3 2s infinite alternate-reverse;
}
#negyedik{
    animation: colors4 2s infinite alternate-reverse;
}
#otodik{
    animation: colors5 2s infinite alternate-reverse;
}
#hatodik{
    animation: colors6 2s infinite alternate-reverse;
}
@keyframes links {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
} 

@keyframes example {
    0%   {background-color:indigo ;}
    25%  {background-color: maroon;}
    50%  {background-color: hotpink;}
    100% {background-color: wheat;}
}
@keyframes leftright{
    0% {transform:translateX(0px)}
    5% {transform:translateX(100px)}
    10% {transform:translateX(200px)}
    15% {transform:translateX(300px)}
    20% {transform:translateX(400px)}
    25% {transform:translateX(500px)}
    30% {transform:translateX(400px)}
    35% {transform:translateX(300px)}
    40% {transform:translateX(200px)}
    45% {transform:translateX(100px)}
    50% {transform:translateX(0px)}
    55% {transform:translateX(-100px)}
    60% {transform:translateX(-200px)}
    65% {transform:translateX(-300px)}
    70% {transform:translateX(-400px)}
    75% {transform:translateX(-500px)}
    80% {transform:translateX(-400px)}
    85% {transform:translateX(-300px)}
    90% {transform:translateX(-200px)}
    95% {transform:translateX(-100px)}
    100% {transform:translateX(0px)}
}
@keyframes colors6{
    16%{color: pink ;}
    32%{color: cyan ;}
    48%{color: greenyellow ;}
    64%{color: crimson;}
    70%{color: royalblue ;}
    86%{color: orange ;}
    100%{color: turquoise;}
}
@keyframes colors1{
    16%{color:turquoise ;}
    32%{color: pink;}
    48%{color:cyan ;}
    64%{color:greenyellow;}
    70%{color:crimson;}
    86%{color:royalblue;}
    100%{color:orange;}
}
@keyframes colors2{
    16%{color:orange ;}
    32%{color: turquoise;}
    48%{color: pink;}
    64%{color:cyan;}
    70%{color:greenyellow;}
    86%{color:crimson;}
    100%{color:royalblue;}
}
@keyframes colors3{
    16%{color: royalblue;}
    32%{color: orange;}
    48%{color: turquoise;}
    64%{color:pink;}
    70%{color:cyan;}
    86%{color:greenyellow;}
    100%{color:crimson;}
}
@keyframes colors4{
    16%{color:crimson ;}
    32%{color: royalblue;}
    48%{color: orange;}
    64%{color:turquoise;}
    70%{color:pink;}
    86%{color:cyan;}
    100%{color:greenyellow;}
}
@keyframes colors5{
    16%{color: greenyellow;}
    32%{color: crimson;}
    48%{color: royalblue;}
    64%{color:orange;}
    70%{color:turquoise;}
    86%{color:pink;}
    100%{color:cyan;}
}